
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.des_tour{

    text-transform: uppercase;
    
    display: flex;
    align-items: center;
   justify-content: center;
}
.tour_text{
    text-shadow: 2px 7px 5px rgba(0,0,0,0.3), 
    0px -4px 10px rgba(255,255,255,0.3);
    color: rgb(39, 88, 225);
    height: fit-content;
    font-size: larger;
}

.editor,.Editor{
    margin: 20px;
}

.Editor{
    margin-top: 5%;
}
